* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}


.contenedor1 {
    width: 99vw;
    height: 85vh;
    background: linear-gradient(to right, #0C6CB0, #1C8AC3);
    grid-template-columns: repeat(4, auto);
    gap: 1%;
    grid-area: 
        "nav nav nav nav"
        "texto texto imagen imagen"
        "texto texto imagen imagen"
        "texto texto imagen imagen"
        "texto texto imagen imagen"
    ;
}

.students {
    position: absolute;
    left: 60%;
    top: 15%;
    grid-area: "imagen";
}

h3 {
    color:#FFDB9E;
}

p {
    color:#56A0D3;
}

h1 {
    color: #FFFFFF;
}

.texto {
    position: absolute;
    top: 25%;
    left: 15%;
    grid-area: "texto";
}

.aclaracion {
    color: #378AC4;
    font-size: 13px;
}

.study {
    width: 60%;
    height: 5vh;
    border-color: #FFFFFF;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #75ABD2;
    font-size: 18px;
    cursor: pointer;
}

.study:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.nav {
    height: 10vh;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to right, #0C6CB0, #1C8AC3);
    align-content: space-between;
    position: fixed;
    grid-area: "nav";
}

.logonav {
    margin: 1%;
    width: 10vw;
    height: 5vh;
    position: absolute;
    left: 7.5%;
    top: 2.5%;
}

.links {
    margin-left: 25%;
    margin-top: 2.5%;
}

.links > a {
    text-decoration: none;
    color: #BDC3C9;
    margin-right: 5%;
}

#premium {
    color: #F1C87D;
}

.app {
    width: 8%;
    height: 4vh;
    border-color: #FFFFFF;
    border-radius: 5px;
    background-color: #FFFFFF;
    cursor: pointer;
    position: absolute;
    left: 80%;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app > a {
    font-size: 18px;
    color: #75ABD2;
    text-decoration: none;
    text-align: center;
}

.contenedor2 {
    width: 50vw;
    height: 85vh;
    background: #FFFFFF;
    padding: 0% 17.5%;
}

.bluelight {
    color: #1192EE;
    display: inline-block;
}

#h1 {
    color: black;
    margin-top: 5%;
    margin-left: 40%;
}

.gray {
    color:#9DA9A6;
    margin-top: 1%;
    margin-left:43%;
}

.computer-container {
    background-color: #E2F1FD;
    margin-left:27.5%;
    margin-top: 5%;
    height: 25%;
    width: 80%;
    display: grid;
    grid-template-columns: auto(2, auto);
    grid-area: 
    "pctext imgpc"
    ;
}

.black {
    color: black;
    display: inline-block;
}

#imgpc {
    width: 10%;
    height: 70%;
    padding-left: 80%;
    padding-top: 5%;
    grid-area: "imgpc";
}

#imgpc:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.ppc {
    color: #6C7B86;
}

.pctext {
    width: 60%;
    grid-area: "pctext";
    position: absolute;
    left: 35%;
    top: 108%;
}